
*
{
    margin:0;
    padding:0;
}
    body{
    background-color: bisque;

    
}
h1{
  text-align: center;
  color: rgb(52, 58, 52);
  padding-top:20px;
  font-size: 50px;
}
.heading{
    padding-left: 120px;
    font-family: cursive;
    font-size: 25px;
}
header{
    height:150px;
    border-bottom: 2px,solid,red;
    background-color: rgb(231, 163, 163);
}

img{
    width:200px;
    padding-right: 80px;
    padding-left: 80px;

}
li{
  list-style-type: none;
  width:30%;
  border:1px solid rgb(182, 174, 175);
  padding:5px;
  margin:5px;

}

#myList ul {

display:flex;
flex-wrap: wrap;
flex:1 0 10%;
flex-direction:row;
 box-sizing:border-box;

}
 h2, p, h3{
    text-align: center;
}
